:root{
    --main-color:#1b1c2c;
    --white-color:#fff;
    --color-violet: #8f7cff;
    --color-tba-advisors: #323656;
    --border-radius-6:6px;
    --border-radius-12:12px;
    --transition: 0.5s  ease-in-out;
}